body {
	background: url("london_on_the_ground.svg");
	background-size: 150%;
	/* background-size: cover; */
	background-position: -10px -10px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
  }
  
  *{
	padding: 0;
	margin: 0
  }
  
  